name: Build Ubuntu
on:
  push:
    branches:
      - master

  pull_request:

jobs:
  job_build_ubuntu:
    runs-on: ubuntu-latest
    steps:
    - id: CHECKOUT_SOURCE
      uses: actions/checkout@v3
    - id: APT_UPDATE
      run: sudo apt update
    - id: DISABLE_MAN_PAGES
      run: echo "set man-db/auto-update false" | sudo debconf-communicate; sudo dpkg-reconfigure man-db
    - id: INSTALL_ADDITIONAL_BUILD_DEPENDENCIES
      run: sudo apt install -y eatmydata libtidy-dev libxml2-dev libxslt1-dev
    - id: CONFIGURE
      run: eatmydata ./configure
    - id: MAKE
      run: eatmydata make release
    - id: TEST
      run: eatmydata make test
