name: Build MacOSX
on:
  push:
    branches:
      - master

jobs:
  job_build_on_macos:
    runs-on: macOS-latest
    steps:
    - id: CHECKOUT_SOURCE
      uses: actions/checkout@v2
    - id: CONFIGURE
      run: ./configure
    - id: MAKE
      run: make release asan
    - id: TEST
      run: make test
    - id: TEST_ASAN
      run: make testa
