name: Release Ubuntu/MacosX/Windows

permissions:
  contents: write

on:
  push:
    tags:
      - edge

jobs:
  job_edge_ubuntu:
    runs-on: ubuntu-latest
    steps:
      - id: CHECKOUT_SOURCE
        uses: actions/checkout@v3
      - id: INSTALL_ADDITIONAL_BUILD_DEPENDENCIES
        run: sudo apt install -y eatmydata libtidy-dev libxml2-dev libxslt1-dev
      - id: CONFIGURE
        run: eatmydata ./configure
      - id: MAKE
        run: eatmydata make release
      - id: TEST
        run: eatmydata make test
      - id: CREATE_RELEASE_ARCHIVE
        run: tar czf build/xmq-gnu-linux-release.tar.gz -C build/default/release xmq
      - id: UPLOAD_TO_EDGE
        run: gh release upload edge build/xmq-gnu-linux-release.tar.gz
        env: GITHUB_TOKEN: ${{ github.TOKEN }}

  job_release_macosx:
    needs: [job_create_release]
    runs-on: macOS-latest
    steps:
      - id: CHECKOUT_SOURCE
        uses: actions/checkout@v3
      - id: CONFIGURE
        run: ./configure
      - id: MAKE
        run: make release
      - id: TEST
        run: make test
      - id: CREATE_RELEASE_ARCHIVE
        run: tar czf build/xmq-macos-release.tar.gz -C build/default/release xmq
      - id: UPLOAD_TO_EDGE
        run: gh release upload edge build/xmq-macos-release.tar.gz
        env: GITHUB_TOKEN: ${{ github.TOKEN }}

  job_release_windows:
    needs: [job_create_release]
    runs-on: ubuntu-latest
    steps:
      - id: CHECKOUT_SOURCE
        uses: actions/checkout@v3
      - id: INSTALL_ADDITIONAL_BUILD_DEPENDENCIES
        run: sudo apt install -y eatmydata gcc-mingw-w64 wixl
      - id: FETCH_DEPS
        run: cd 3rdparty; ./fetch_and_build.sh x86_64-w64-mingw32
      - id: CONFIGURE
        run: ./configure --host=x86_64-w64-mingw32 --with-libxml2=3rdparty/libxml2-winapi --with-libxslt=3rdparty/libxslt-winapi --with-zlib=3rdparty/zlib-1.3-winapi
      - id: MAKE
        run: make release
      - id: UPLOAD_TO_EDGE
        run: gh release upload edge ./build/default/windows_installer/xmq-windows-release.msi
        env: GITHUB_TOKEN: ${{ github.TOKEN }}
